* {
    width: 400px;
    height: auto;
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    background-color: rgba(231, 36, 36, 0.418);
    color: white;
    text-align: center;
    width: 400px;
}
ul li {
    width: 140px;
    color: aliceblue;
    border: solid;
    border-color: rgba(231, 36, 36, 0.418);
    border-width: 1px;
}
a {
    color: whitesmoke;
    background-color: rgba(231, 36, 36, 0.418);
}